# Bias
-Bias is the simplifying assumption made by the model to make the target function easier to approximate

# Variance
-Variance is the amount that the estimate of the target fuction will change given different training data

## Overfitting
-Good performance on the training data.low bias and high variance will get the occurance of overfitting

 ## Underfitting
-poor performance on the training data and poor generalization to other data. 
-High bias and low variance

# Ridge regression
-squared magnitude of coefficient as penalty to the loss function.

# # Lasso Regression
-(Least absolute shrinkage and selection operator)
adds '

# how to prevent overfitting or underfitting
-1.cross validation
2.train with more data
3.remove features
4.early stoping
5.regularization
6.ensembling

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
m=100
x = np.random.rand(m,1)
y=0.5*x**2+x+2+np.random.randn(m,1)##ax*2+bx+c

In [6]:
print(x,y)

[[0.16653848]
 [0.97418673]
 [0.35944538]
 [0.98007019]
 [0.54693733]
 [0.48666708]
 [0.88162387]
 [0.47127169]
 [0.95348786]
 [0.34611276]
 [0.48546875]
 [0.40824562]
 [0.03190494]
 [0.4240277 ]
 [0.54302865]
 [0.41104658]
 [0.77727855]
 [0.04049266]
 [0.6748156 ]
 [0.73741144]
 [0.2573773 ]
 [0.2721747 ]
 [0.55460613]
 [0.85082856]
 [0.68550774]
 [0.60844826]
 [0.61185445]
 [0.14012958]
 [0.42507061]
 [0.35994386]
 [0.83942344]
 [0.25056511]
 [0.38814661]
 [0.87952481]
 [0.05601672]
 [0.39521539]
 [0.6104116 ]
 [0.36701421]
 [0.69771512]
 [0.90072632]
 [0.71065429]
 [0.50611647]
 [0.52004514]
 [0.89002495]
 [0.54820557]
 [0.58831771]
 [0.61048994]
 [0.35440744]
 [0.99315467]
 [0.28900848]
 [0.14053653]
 [0.06481584]
 [0.54408117]
 [0.40823864]
 [0.94022814]
 [0.97669698]
 [0.83818725]
 [0.76471879]
 [0.82002819]
 [0.41494218]
 [0.79756099]
 [0.99655403]
 [0.85273552]
 [0.97148514]
 [0.50546897]
 [0.65921905]
 [0.5427431 ]
 [0.35249357]
 [0.67147485]
 [0.34198805]
 [0.12167922]
 [0.32154471]
 [0.86038308]
 [0.51075306]
 [0.18931453]
 [0.8045099 ]
 [0.55196151]
 [0.65509877]
 [0.58782761]
 [0.49483631]
 [0.21943761]
 [0.86273208]
 [0.33911081]
 [0.71112689]
 [0.51988773]
 [0.51809168]
 [0.54827198]
 [0.86728888]
 [0.48786216]
 [0.4756982 ]
 [0.96658739]
 [0.94834544]
 [0.87139679]
 [0.49746791]
 [0.85193049]
 [0.52821191]
 [0.67682922]
 [0.23331132]
 [0.75550519]
 [0.99294708]] [[ 3.85540579]
 [ 2.35227861]
 [ 2.64640506]
 [ 4.85657869]
 [ 2.47681508]
 [ 3.86906809]
 [ 4.87434437]
 [ 2.28323441]
 [ 3.82921726]
 [ 3.80437905]
 [ 3.50931409]
 [ 1.93281853]
 [ 3.36688439]
 [ 2.53584467]
 [ 3.61111354]
 [ 2.96106815]
 [ 3.06249093]
 [ 3.34419119]
 [ 3.98837195]
 [ 2.96802522]
 [ 2.73882639]
 [ 2.40146911]
 [ 1.95406236]
 [ 1.91930871]
 [ 3.49677051]
 [ 2.65934118]
 [ 4.44372291]
 [ 2.72103313]
 [ 2.01657432]
 [ 0.54739681]
 [ 3.58822736]
 [ 1.90635442]
 [ 2.57815758]
 [ 4.06576975]
 [ 0.59554297]
 [ 3.14973172]
 [ 1.68572838]
 [ 2.8979772 ]
 [ 2.76729734]
 [ 2.56513655]
 [ 2.28178575]
 [ 0.80565839]
 [ 2.93159089]
 [ 4.12117689]
 [ 2.20699861]
 [ 3.56468076]
 [ 2.06092714]
 [ 4.19803639]
 [ 5.14901085]
 [ 1.14887306]
 [ 2.33533086]
 [ 0.7884734 ]
 [ 4.24168941]
 [ 2.35384422]
 [ 3.45798759]
 [ 3.16584594]
 [ 2.98828795]
 [ 3.4202177 ]
 [ 3.86243329]
 [ 1.74287185]
 [ 1.05184463]
 [ 4.42176054]
 [ 2.32434214]
 [ 4.29230473]
 [ 2.84881881]
 [ 3.06442595]
 [ 2.53304682]
 [ 4.4431525 ]
 [ 1.40371769]
 [ 4.18257759]
 [-0.14094492]
 [ 0.86464207]
 [ 3.32818712]
 [ 2.63890625]
 [ 1.42748169]
 [ 1.58741687]
 [ 1.47510185]
 [ 4.40954785]
 [ 4.32703241]
 [ 3.72258287]
 [ 1.81028878]
 [ 2.26728145]
 [ 2.03972356]
 [ 3.32155221]
 [ 3.02219349]
 [ 4.06894322]
 [ 2.46478749]
 [ 2.95586337]
 [ 2.44598153]
 [ 1.94843744]
 [ 4.56607255]
 [ 4.19530569]
 [ 1.06737133]
 [ 1.53373051]
 [ 2.88604268]
 [ 1.79809226]
 [ 3.78215526]
 [ 1.28237046]
 [ 1.4839033 ]
 [ 3.78260587]]

In [7]:
print(x,"x values")
print(y,"y values")
print(m)

[[0.16653848]
 [0.97418673]
 [0.35944538]
 [0.98007019]
 [0.54693733]
 [0.48666708]
 [0.88162387]
 [0.47127169]
 [0.95348786]
 [0.34611276]
 [0.48546875]
 [0.40824562]
 [0.03190494]
 [0.4240277 ]
 [0.54302865]
 [0.41104658]
 [0.77727855]
 [0.04049266]
 [0.6748156 ]
 [0.73741144]
 [0.2573773 ]
 [0.2721747 ]
 [0.55460613]
 [0.85082856]
 [0.68550774]
 [0.60844826]
 [0.61185445]
 [0.14012958]
 [0.42507061]
 [0.35994386]
 [0.83942344]
 [0.25056511]
 [0.38814661]
 [0.87952481]
 [0.05601672]
 [0.39521539]
 [0.6104116 ]
 [0.36701421]
 [0.69771512]
 [0.90072632]
 [0.71065429]
 [0.50611647]
 [0.52004514]
 [0.89002495]
 [0.54820557]
 [0.58831771]
 [0.61048994]
 [0.35440744]
 [0.99315467]
 [0.28900848]
 [0.14053653]
 [0.06481584]
 [0.54408117]
 [0.40823864]
 [0.94022814]
 [0.97669698]
 [0.83818725]
 [0.76471879]
 [0.82002819]
 [0.41494218]
 [0.79756099]
 [0.99655403]
 [0.85273552]
 [0.97148514]
 [0.50546897]
 [0.65921905]
 [0.5427431 ]
 [0.35249357]
 [0.67147485]
 [0.34198805]
 [0.12167922]
 [0.32154471]
 [0.86038308]
 [0.51075306]
 [0.18931453]
 [0.8045099 ]
 [0.55196151]
 [0.65509877]
 [0.58782761]
 [0.49483631]
 [0.21943761]
 [0.86273208]
 [0.33911081]
 [0.71112689]
 [0.51988773]
 [0.51809168]
 [0.54827198]
 [0.86728888]
 [0.48786216]
 [0.4756982 ]
 [0.96658739]
 [0.94834544]
 [0.87139679]
 [0.49746791]
 [0.85193049]
 [0.52821191]
 [0.67682922]
 [0.23331132]
 [0.75550519]
 [0.99294708]] x values
[[ 3.85540579]
 [ 2.35227861]
 [ 2.64640506]
 [ 4.85657869]
 [ 2.47681508]
 [ 3.86906809]
 [ 4.87434437]
 [ 2.28323441]
 [ 3.82921726]
 [ 3.80437905]
 [ 3.50931409]
 [ 1.93281853]
 [ 3.36688439]
 [ 2.53584467]
 [ 3.61111354]
 [ 2.96106815]
 [ 3.06249093]
 [ 3.34419119]
 [ 3.98837195]
 [ 2.96802522]
 [ 2.73882639]
 [ 2.40146911]
 [ 1.95406236]
 [ 1.91930871]
 [ 3.49677051]
 [ 2.65934118]
 [ 4.44372291]
 [ 2.72103313]
 [ 2.01657432]
 [ 0.54739681]
 [ 3.58822736]
 [ 1.90635442]
 [ 2.57815758]
 [ 4.06576975]
 [ 0.59554297]
 [ 3.14973172]
 [ 1.68572838]
 [ 2.8979772 ]
 [ 2.76729734]
 [ 2.56513655]
 [ 2.28178575]
 [ 0.80565839]
 [ 2.93159089]
 [ 4.12117689]
 [ 2.20699861]
 [ 3.56468076]
 [ 2.06092714]
 [ 4.19803639]
 [ 5.14901085]
 [ 1.14887306]
 [ 2.33533086]
 [ 0.7884734 ]
 [ 4.24168941]
 [ 2.35384422]
 [ 3.45798759]
 [ 3.16584594]
 [ 2.98828795]
 [ 3.4202177 ]
 [ 3.86243329]
 [ 1.74287185]
 [ 1.05184463]
 [ 4.42176054]
 [ 2.32434214]
 [ 4.29230473]
 [ 2.84881881]
 [ 3.06442595]
 [ 2.53304682]
 [ 4.4431525 ]
 [ 1.40371769]
 [ 4.18257759]
 [-0.14094492]
 [ 0.86464207]
 [ 3.32818712]
 [ 2.63890625]
 [ 1.42748169]
 [ 1.58741687]
 [ 1.47510185]
 [ 4.40954785]
 [ 4.32703241]
 [ 3.72258287]
 [ 1.81028878]
 [ 2.26728145]
 [ 2.03972356]
 [ 3.32155221]
 [ 3.02219349]
 [ 4.06894322]
 [ 2.46478749]
 [ 2.95586337]
 [ 2.44598153]
 [ 1.94843744]
 [ 4.56607255]
 [ 4.19530569]
 [ 1.06737133]
 [ 1.53373051]
 [ 2.88604268]
 [ 1.79809226]
 [ 3.78215526]
 [ 1.28237046]
 [ 1.4839033 ]
 [ 3.78260587]] y values
100

In [8]:
x.shape

(100, 1)

In [9]:
y.shape

(100, 1)

In [10]:
from sklearn.linear_model import Ridge
rd=Ridge()

In [11]:
x[1]

array([0.97418673])

In [12]:
y[1]

array([2.35227861])

In [14]:
np.ndim(x)

2

In [15]:
rd.fit(x,y)

Ridge()

In [16]:
from sklearn.datasets import load_boston
bos_data=load_boston()

In [17]:
bos_data.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [18]:
df=pd.DataFrame(bos_data.data,columns=bos_data.feature_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [19]:
df.shape

(506, 13)

In [20]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [21]:
bos_data.target

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [22]:
df['landscape']=bos_data.target
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,landscape
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [24]:
df.isnull().sum()

CRIM         0
ZN           0
INDUS        0
CHAS         0
NOX          0
RM           0
AGE          0
DIS          0
RAD          0
TAX          0
PTRATIO      0
B            0
LSTAT        0
landscape    0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CRIM       506 non-null    float64
 1   ZN         506 non-null    float64
 2   INDUS      506 non-null    float64
 3   CHAS       506 non-null    float64
 4   NOX        506 non-null    float64
 5   RM         506 non-null    float64
 6   AGE        506 non-null    float64
 7   DIS        506 non-null    float64
 8   RAD        506 non-null    float64
 9   TAX        506 non-null    float64
 10  PTRATIO    506 non-null    float64
 11  B          506 non-null    float64
 12  LSTAT      506 non-null    float64
 13  landscape  506 non-null    float64
dtypes: float64(14)
memory usage: 55.4 KB

In [26]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,landscape
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [28]:
#separation of input and target features
x=df.iloc[::-1]
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,landscape
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0

In [30]:
x=df.iloc[:,0:-1]
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [35]:
y = df['landscape']
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: landscape, Length: 506, dtype: float64

In [36]:
from sklearn.linear_model import LinearRegression
lin_alg=LinearRegression()

In [37]:
lin_alg.fit(x,y)

LinearRegression()

In [38]:
df.shape

(506, 14)

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75,random_state = 2)

In [42]:
lin_alg.score(x_train,y_train)

0.7320923327497029

In [43]:
lin_alg.score(x_test,y_test)

0.7638581703807343

In [45]:
from sklearn.linear_model import Lasso
la = Lasso(alpha = 100)

In [46]:
la.fit(x_train,y_train)

Lasso(alpha=100)

In [49]:
la.fit(x_test,y_test)

Lasso(alpha=100)

In [53]:
np.sum(la.coef_!=0)

2

In [54]:
np.sum(la.coef_==0)

11

In [56]:
bos_data.feature_names[la.coef_==0]

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'PTRATIO', 'LSTAT'], dtype='<U7')

In [57]:
bos_data.feature_names[la.coef_!=0]

array(['TAX', 'B'], dtype='<U7')

## KNN->K-Nearest Neighbour Classifier
- KNN is easy to implement
- Support Classification and Regression
- knn algorithm assumes that the similar things exists nearer to each other
### How does knn works
1. select k number of neighbours,i.e k=3,5
2. calculate the euclidien distance b/w data
3. assign the new data point to the majority nearest neighbours class

In [59]:
df=pd.read_csv("https://raw.githubusercontent.com/nagamounika5/Datasets/master/Tshirt_size.csv")
df

    Height  Weight Shirt_Size
0      158      58          m
1      158      59          m
2      158      63          m
3      160      59          m
4      160      60          m
5      163      60          m
6      163      61          m
7      160      64          l
8      163      64          l
9      165      61          l
10     165      62          l
11     165      65          l
12     168      62          l
13     168      63          l
14     168      66          l
15     170      63          l
16     170      64          l
17     170      68          l

In [61]:
df.shape

(18, 3)

In [64]:
df.isnull().sum()

Height        0
Weight        0
Shirt_Size    0
dtype: int64

In [68]:
df.Shirt_Size.value_counts()

l    11
m     7
Name: Shirt_Size, dtype: int64

In [69]:
df.info

<bound method DataFrame.info of     Height  Weight Shirt_Size
0      158      58          m
1      158      59          m
2      158      63          m
3      160      59          m
4      160      60          m
5      163      60          m
6      163      61          m
7      160      64          l
8      163      64          l
9      165      61          l
10     165      62          l
11     165      65          l
12     168      62          l
13     168      63          l
14     168      66          l
15     170      63          l
16     170      64          l
17     170      68          l>

In [72]:
x = df[['Height','Weight']]
y = df['Shirt_Size']

In [76]:
from sklearn.neighbors import KNeighborsClassifier

In [77]:
knn = KNeighborsClassifier(n_neighbors=4)

In [82]:
knn.fit(x,y)

KNeighborsClassifier(n_neighbors=4)

In [83]:
y_predict = knn.predict(x)

In [84]:
y_predict

array(['m', 'm', 'm', 'm', 'm', 'l', 'l', 'l', 'l', 'l', 'l', 'l', 'l',
       'l', 'l', 'l', 'l', 'l'], dtype=object)

In [85]:
y

0     m
1     m
2     m
3     m
4     m
5     m
6     m
7     l
8     l
9     l
10    l
11    l
12    l
13    l
14    l
15    l
16    l
17    l
Name: Shirt_Size, dtype: object

In [97]:
knn = KNeighborsClassifier(n_neighbors=5)

In [98]:
knn.fit(x,y)

KNeighborsClassifier()

In [99]:
y_predict = knn.predict(x)

In [100]:
y_predict

array(['m', 'm', 'm', 'm', 'm', 'm', 'l', 'm', 'l', 'l', 'l', 'l', 'l',
       'l', 'l', 'l', 'l', 'l'], dtype=object)

In [101]:
y

0     m
1     m
2     m
3     m
4     m
5     m
6     m
7     l
8     l
9     l
10    l
11    l
12    l
13    l
14    l
15    l
16    l
17    l
Name: Shirt_Size, dtype: object